* {
    box-sizing: border-box;
}
#menu{
    background-color: lightgoldenrodyellow;
}
#aboutus{
    background-color: lightgoldenrodyellow;
    font-family: monospace;
    opacity: 70%;
}
#navbar{
    position: sticky;
    top: 0;
    background-color: goldenrod;
    overflow: hidden;
}
.menu-navbar{
    background-color: goldenrod;
    overflow: hidden;
}
input[type=text], [type=datetime-local], [type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: gold;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: orange;
}
input[type=reset] {
    background-color: gold;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset]:hover {
    background-color: orange;
}