#menu li{
    color: black;
    text-align: left;
    padding: 5px;
}
#aboutus h1{
    text-align: center;
    padding: 10px;
}
#aboutus p{
    padding: 15px;
}
.nav .nav-link{
    color: white !important;
}
.nav .nav-link:hover{
    color: black !important;
    border-radius: 0;
    border-color: crimson !important;
    background-color: gold !important;
}
.nav .active{
    border-radius: 0;
    border-color: darkred !important;
    background-color: red !important;
}